html{
    background: lightgrey;
    
}
body{
    padding:0;
    margin:0 auto;
    height: 296.5mm;
    width: 210mm;
    font-family: Lato; font-style: normal; font-variant: normal;
}
#bodyDiv{
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
}

/*Here's all the stuff for the LEFT column*/
#leftColumn{
    height: 100%;
    width: 69mm;
    position: absolute;
    left: 0px;
    background: #2B3A51;
    color: #ffffe6;
}
#picture{
    margin-top:20px;
    margin-left: 41px;
}
#picture img{
    height: 180px;
    width: 180px;
}
#about, #contact, #languages{
    margin-left: 30px;
}
#contact a{
    text-decoration: none;
    color:#ffffe6;
}
#about h2, #contact h2, #languages h2{
    font-weight: 100;
}

#hang1, #hang2 {
    margin-top:0;
    margin-bottom:0;
}
#hang2{
    margin-left:22px;
}
#languages p, #languages ul{
    margin-top:0;
    margin-bottom: 0;
}


/*Here's all the stuff for the RIGHT column*/
#rightColumn{
    color: #004d99;
    height: 100%;
    width: 141mm;
    position: absolute;
    right: 0px;
    background: #ffffe6;
}
#nameH1{
    font-size:64px;
    font-weight:325;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
    
}
#nameH1 hr{
    margin: 20px;
    border-width: thin;
    border-style: solid;
    border-color: #004d99;
}
#careerObjective, #employments{
    margin:20px;
    text-align: justify;
}
hr{
    margin-left:20px;
    margin-right:20px;
    border-width: .5px;
    border-style: solid;
    border-color: #004d99;
}
#twoColumnsRight{
    margin-left:20px;
    margin-right:20px;
}
#middleColumn{
    width:50%;
    float: left;
    display: inline-block;
}
#middleColumn a{
    text-decoration: none;
    color: #004d99;
}
#rightRightColumn{
    width: 50%;
    float: right;
    display: inline-block;
}
#rightRightColumn ul{
    padding-inline-start:20px;
}
#employments{
     clear:both;
}
#employments h2{
    display: inherit;
}
#employments ul{
    padding-inline-start:20px;    
}

/*specific to PAGE 2*/

/*LEFT*/

#leftColumn_2{
    color: #004d99;
    height: 100%;
    width: 141mm;
    position: absolute;
    left: 0px;
    background: #ffffe6
}
#nameH2{
    text-align: center;
    font-weight: 100;
    font-size: 48px;
    margin-top: 25px;
    /*margin: 25px 20px 25px 20px;*/
}
#nameH2 hr{
    /*margin: 20px;*/
    border-width: thin;
    border-style: solid;
    border-color: #004d99;
}
#academicAchievements{
    margin:20px;
    text-align: justify;
}
#academicAchievements a{
    text-decoration: none;
    color: #004d99;
}
#twoColumnsLeft{
    margin-left:20px;
    margin-right:20px;
}
#leftLeftColumn{
    width:50%;
    float:left;
    display: inline-block;
}
#leftLeftColumn ul{
    padding-inline-start:20px;
}
#leftMiddleColumn{
    width: 50%;
    float:right;
    display: inline-block;
}
#leftMiddleColumn ul{
    padding-inline-start:20px;
}
#seeYou{
    text-align: center;
}
#seeYou h3{
    clear: both;
    /*padding-top:50px;*/
    font-weight: 100;
    margin-left:20px;
    margin-right:20px;
}
#seeYou h3 hr{
    margin-bottom: 30px;
    margin-left:20px;
    margin-right:20px;
}


/*RIGHT*/
#rightColumn_2{
    height: 100%;
    width: 69mm;
    position: absolute;
    right: 0px;
    background: #2B3A51;
    color: #ffffe6;
}
#rightColumn_2 a{
    text-decoration: none;
    color: #ffffe6;
}
#rightColumn_2 hr{
    
}
#qualities, #hobbies, #socialMedia {
    margin:30px;
}
#qualities h2, #hobbies h2{
    font-weight: 100;
}
#footerFront{
    position:absolute;
    width: 50%;
    height: 30px;
    background: #2B3A51;
    color: #ffffe6;
    right:0;
    bottom: 0;
    display: table;
}
#footerFront p{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#footerBack{
    position:absolute;
    width: 50%;
    height: 30px;
    background: #2B3A51;
    color: #ffffe6;
    left:0;
    bottom: 0;
    display: table;
}
#footerBack p{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
